body {
  background-color: #152237;
  color:  #f2f2f2;
  z-index: 0;
}

.toplink {
  display: flex;
  margin: 2% 5%;
  color: #f2f2f2;
  
}

.toppagelinks {
  display: flex;
  justify-content: right;
  margin-right: 10%;
}

.intro {
  margin-top: 10vh;
  display: flex;
  width: 100vw;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.right-side {
  display: flex;
  justify-content: right;
  flex: 1;
  padding-right: 15%;
}

#profilepic {
  display: flex;
  border: #f2f2f2 ridge 5px;
  width: 20%;
  height: 50%;
}

#green {
  color: #7ac943;
}

#projects {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-items: auto;
  justify-content: space-between;
  background-color: #152237;
}

#project1, #project2, #project3, #project4, #project5, #project6 {
  display: flex;
  width: 30vw;
  height: 30vw;
  padding: 1%;

  justify-content: center;
}